
<%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.31.2/plotly.min.js') %>
<%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') %>

<div id="chart" class="chart" width="500" height="500"></div>
<div id = "urls" style="display: none" ><%= $urls.inspect %></div>
<div id = "hits" style="display: none"><%= $hits.inspect %></div>\
<div id = "labels" style="display: none"><%= $labels.inspect %></div>
<script>

    var yl = [];

  var urls = document.getElementById('urls').innerHTML.match(/[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi);
  var labels = document.getElementById('labels').innerHTML.match(/[0-9]+(,[0-9]+)*/gi).map(Number);
    for(var i = 0; i < labels.length; i++){
        labels[i] = new Date(labels[i]).toLocaleTimeString();
    }
  var hits = document.getElementById('hits').innerHTML;
  hits = hits.substring(1, hits.length - 1)
    hits = hits.match(/\[(.*?)\]/gi);
  for(var i = 0; i < hits.length; i++){
      yl[i] = hits[i].match(/[0-9]+(,[0-9]+)*/gi).map(Number);
  }
    var colors = []
    for(var i = 0; i < labels.length; i++){
      colors[i] = "rgba(" + Math.random() * (255) + ", " + Math.random() * (255) + "," + Math.random() * (255) + ", 0.7)";
    }

  var trace = [];
  for(var l = 0; l < urls.length; l++){

      trace[l] = {
          x: labels,
          y: yl[l],
          name: urls[l],
          histnorm: "count",
          marker: {
              color: colors[l],
              line: {
                  color:  "rgba(0, 0, 0, 1)",
                  width: 1
              }
          },
          opacity: 0.5,
          type: "bar",

      };
  }
    var data = trace;
    var layout = {
        bargap: 0.05,
        bargroupgap: 0.2,
        barmode: "stack",
        title: "Page Hits Histogram",
        xaxis: {title: "Timestamp"},
        yaxis: {title: "Count"}
    };

    Plotly.newPlot('chart', data, layout);

</script>